*,
*::after,
*::before{
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #ebebeb;
    font-family: 'Inter', sans-serif;
    padding: 0 100px;
}

.wrapper{
    max-width: 1400px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 0 15px 10px rgb(91, 91, 91);
    overflow: hidden;
}

nav{
 display: flex;
 justify-content: center;
 border-bottom: 10px solid #000;
}
nav a{
    text-decoration: none;
    text-transform: uppercase;
    padding: 45px 25px;
    font-size: 20px;
    color: #000;
}

.info h1{
    text-align: center;
    font-size: 35px;
    text-transform: uppercase;
    padding-top: 100px;
    padding-bottom: 40px;
}
.info img{
    max-width: 100%;
}

.infoAnikina{
   margin: 0 auto;
    width: 420px;
}
.infoAnikina h2{
    margin: 50px 0;
    text-transform: uppercase;
    font-size: 35px;
    text-align: center;
}
.infoAnikina p{
    height: 95px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
}
.infoAnikina input[type="submit"]{
    display: flex;
    justify-content: center;
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
    background-color: #000;
    margin: 50px auto;
    padding: 20px 60px;
}

.section{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 150px 50px;
    border-bottom: 10px solid #000;
}
.section h2{
    text-transform: uppercase;
    font-size: 35px;
    margin: 50px 0;
}
.img1{
    height: 477px;
    background-image: url(img/Rectangle80.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin-top: 101px;
}
.achievements h2{
    margin-top: 60px;
    text-align: right;
}
.achievements{
    border-left: 2px solid #000;
    padding-left: 65px;
    display: flex;
    flex-direction: column;
}
.img2{
    height: 297px;
    background-image: url(img/Rectangle99.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    order: 1;
}
.achievementsInfo{
    order: 2;
}
.education{
    padding-right: 65px;
}
.achievements ul li{
  margin-left: 25px;
}
 .section p{
    font-size: 20px;
    margin-top: 20px;
    line-height: 24px;
    max-width: 580px;
}

.achievements ul{
    font-size: 20px;
}

.skills{
    border-bottom: 10px solid #000;
}
.skills h2{
    width: 100%;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 40px;
    text-transform: uppercase;
    font-size: 35px;
}
.yourSkills{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.skills1,.skills2,.skills3,.skills4,.skills5,.skills6 {
    width: 420px;
    height: 420px;
    background-color: #000;
    color: #fff;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    padding: 0 50px;
    margin: 20px;
    display: flex;
    align-items: center;
}
.skills5,.skills6 {
    margin-bottom: 100px;
}

.student{
    border-bottom: 10px solid #000;
}
.student h2{
    width: 100%;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 40px;
    text-transform: uppercase;
    font-size: 35px;
}
.video video{
    width: 100%;
}
.more{
    display: block;
  text-align: center;
  margin-top: 70px;
  margin-bottom: 100px;
}
.more a{
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    font-size: 20px;
    background-color: #b7b7b7;
    padding: 20px 50px;
    border: 1px solid #000;
    border-radius: 20px;
    transition: 0.4s;
}
.price{
    border-bottom: 10px solid #000000;
}
.price h2{
    width: 100%;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 40px;
    text-transform: uppercase;
    font-size: 35px;
}

.lesson{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.price1, .price2, .price3{
    width: 420px;
    height: 420px;
    background-color: #000;
    color: #fff;
    padding: 0 30px;
    padding-top: 100px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.time{
   border-bottom: 1px solid #fff;
   font-size: 100px;
   font-weight: 700;
}
.priceTime{
    font-size: 30px;
    height: 50%;
    padding-top: 20px;
}

.ticketInfo{
    text-align: center;
}
.ticketInfo h3{
    padding-top: 50px;
    text-transform: uppercase;
    font-size: 32px;
}
.ticketInfo p{
    font-size: 20px;
    margin-bottom: 50px;
}

.ticket{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.ticket1{
    width: 420px;
    height: 420px;
    background-color: #000;
    color: #fff;
    padding: 0 30px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; 
}
.ticketCount{
    border-bottom: 1px solid #fff;
    font-size: 40px;
    font-weight: 700;
    padding-top: 120px;
    line-height: 100px;
}
.priceTime2{
    font-size: 30px;
    height: 50%;
    padding-top: 20px;
}
.price p:nth-child(odd){
    text-align: center;
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 100px;
}
.contact{
    border-bottom: 10px solid #000;
}

.contact h2{
    width: 100%;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 40px;
    text-transform: uppercase;
    font-size: 35px;
}

.contact2 {
    width: 400px;
    padding: 20px;
    /* margin: 0 auto; */
}
.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
}
input[type=text] {
    padding: 15px 0;
    padding-left: 30px;
    margin: 10px 0;
    height: 60px;
    width: 100%;
    background-color: #F7F7F7;
    border: 1px solid #939393;
    border-radius: 20px;
    font-size: 20px;
}
input[type=text]::placeholder{
    color: #000;
    font-size: 20px;
    text-transform: uppercase;
}
input[type=submit]{
    padding: 25px 60px;
    background-color: #000;
    color: #fff;
    border-radius: 20px;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 50px;
    transition: 0.4s;
}
.social{
    text-align: center;
    margin-bottom: 100px;
}
.social img{
    margin: 25px 15px;
}
.navSecond{
    display: flex;
    justify-content: center;
}
.navSecond a{
    text-decoration: none;
    text-transform: uppercase;
    padding: 45px 25px;
    font-size: 20px;
    color: #000;
}

.more a:hover{
    background-color: rgb(0, 0, 0);
    color: #fff;
}
input[type=submit]:hover{
    background-color: #ececec;
    color: #000;
    outline: 1px solid #000;
}

.maket{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    padding: 50px;
    background-color: #000;
}
.maket a{
    text-decoration: none;
    color: #fff;
    transition: 0.4s;
    letter-spacing: 2px;
}
.maket a:hover{
    color: #939393;
    font-size: 26px;
}

@media (max-width: 1440px){
    body{
        padding: 0;
    }
    .wrapper{
        max-width: 1400px;
    }
}

@media (max-width: 1100px) {
    .section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 50px;
        border-bottom: none;
        position: relative;
        padding-bottom: 100px;
    }
    .education{
        margin-bottom: 70px;
        padding: 0;
    }
    .achievements{
        border-left: none;
        padding-left: 0;
    }
    .img2{
        margin-top: 80px;
        order: 2;
    }
    .achievementsInfo{
        order: 1;
    }
    .section p, .achievements ul, .achievements li{
        margin: 20px auto;
    }
    .section h2{
        text-align: center;
    }
    .skills{
        display: flex;
        flex-direction: column;
         border-top: 10px solid #000;
    }
    .skills4,.skills5,.skills6{
        margin-bottom: 20px;
    }
    .skills6{
        margin-bottom: 100px;
    }
}

@media (max-width: 800px){
    .info h1, .infoAnikina h2, .section h2, .achievements h2, .skills h2, .student h2, .price h2 {
        font-size: 30px;
    }
    nav a, .navSecond a{
        font-size: 16px;
    }
}

@media (max-width: 710px){
    nav a, .navSecond a{
        font-size: 12px;
    }
    .price p:nth-child(odd), .ticketInfo p{
        font-size: 14px;
    }
    
}
@media (max-width: 480px){
    body{
        padding: 0;
    }
    .navSecond{
        max-width: 100%;
        margin: 0 auto;
    }
    .navSecond a, nav a{
        padding: 25px 10px;
    }
    .infoAnikina{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        padding: 5px;
    }

    .section{
        padding: 120px 0;
    }
    .img1{
       height: 264px;
    }
    .achievementsInfo{
        margin: 0 30px;
    }
    .educationInfo{
        margin: 0 30px;
    }
    .img2{
        height: 297px;
    }
    .skills1,.skills2,.skills3,.skills4,.skills5,.skills6{
        margin: 5px 0;
    }
    .skills6{
        margin-bottom: 100px;
    }
    .more a{
        font-size: 15px;
        padding: 20px 25px;
    }
    .lesson{
        display: flex;
        flex-direction: column;
    }
    .price1, .price2, .price3{
        width: 100%;
        margin: 5px 0;
    }
    .time{
        text-align: center;
    }
    .ticket{
        display: flex;
        flex-direction: column;
    }
    .ticket1{
        width: 100%;
        margin: 5px 0;
    }
    .ticketCount{
        font-size: 38px;
    }
    .contact2{
        padding: 30px;
    }
    input[type=submit]{
        padding: 15px 60px;
    }
}